body{
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
}
.heading{
    margin-left: 40%;
    display:block;
    font-size: 35px;
}
.subHeading{
    display: block;
    font-size:30px;
}